* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");

:root {
  /* color palette */
  --gold: hsl(24, 56%, 63%);
  --almost-black: hsl(0, 0%, 8%);
  --almost-grey: hsl(0, 0%, 27%);
  --white: hsl(0, 0%, 100%);
}

/* fonts */
@mixin heading-xl {
  font-family: "Big Shoulders Display", cursive;
  font-size: 96px;
  line-height: 88px;
  text-transform: uppercase;
}
@mixin heading-l {
  font-family: "Big Shoulders Display", cursive;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
}
@mixin heading-m {
  font-family: "Big Shoulders Display", cursive;
  font-size: 60px;
  line-height: 50px;
  text-transform: uppercase;
}
@mixin heading-s {
  font-family: "Big Shoulders Display", cursive;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
@mixin body-m {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}
@mixin body-s {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

/* mobile */
.title {
  @include heading-m;
}

.byline,
.inspo-text p,
footer p {
  @include body-s;
}

.your-day h2,
.inspo-text h2 {
  @include heading-m;
}

footer h2 {
  @include heading-s;
}

/* location page*/
.location-text {
  @include body-s;
}

.location-text h2 {
  @include heading-m;
}

.location-text h4 {
  @include heading-s;
}

/* media queries */
@media (min-width: 768px) {
  .title {
    @include heading-l;
  }

  .byline,
  .inspo-text p {
    @include body-s;
  }

  .your-day h2,
  .inspo-text h2 {
    @include heading-m;
  }

  footer h2 {
    @include heading-m;
  }

  footer p {
    @include body-m;
  }

  /* location page*/
  .location-text {
    @include body-m;
  }

  .location-text h2 {
    @include heading-l;
  }

  .location-text h4 {
    @include heading-m;
  }
}

@media (min-width: 1275px) {
  .title {
    @include heading-xl;
  }

  .byline,
  .inspo-text p {
    @include body-s;
  }
}
